<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="allPlaces" (ionChange)="onFilterChange($event)">
    <ion-segment-button value="allPlaces">All Places</ion-segment-button>
    <ion-segment-button value="bookablePlaces">Bookable Places</ion-segment-button>
  </ion-segment>
  <div *ngIf="isLoading" class="center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div *ngIf="!isLoading && relevantPlaces.length === 0" class="center">
    <p class="ion-text-center">No bookable places right now, please come back later.</p>
  </div>
  <ion-grid *ngIf="!isLoading && relevantPlaces.length > 0">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card
          [routerLink]="['/', 'places', 'tabs', 'discover', relevantPlaces[0].id]"
        >
          <ion-card-header>
            <ion-card-title>{{relevantPlaces[0].title}}</ion-card-title>
            <ion-card-subtitle
              >{{relevantPlaces[0].price | currency}} / Night
            </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="relevantPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{relevantPlaces[0].description}}</p>
          </ion-card-content>
          <div>
            <ion-button
              fill="clear"
              color="primary"
              [routerLink]="['/', 'places', 'tabs', 'discover', relevantPlaces[0].id]"
            >
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-virtual-scroll [items]="listLoadedPlaces" approxItemHeight="70px">
          <ion-item *virtualItem="let place"
            [routerLink]="['/', 'places', 'tabs', 'discover', place.id]" detail
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{place.title}}</h2>
              <p>{{place.description}}</p>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
